<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @document.folder_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @document.size %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
